<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="damjay.floating.projects">
    
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
    
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation" android:minSdkVersion="31"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FloatingPDFActivity"
            android:label="@string/floating_pdf"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/pdf" />
                <data android:host="*" />
                <data android:scheme="file" />
                <data android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/pdf" />
                <data android:host="*" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="*/*" />
                <data android:host="*" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:pathPattern=".*.pdf" />
                <data android:pathPattern=".*..*.pdf" />
                <data android:pathPattern=".*..*..*.pdf" />
                <data android:pathPattern=".*..*..*..*.pdf" />
                <data android:pathPattern=".*.PDF" />
                <data android:pathPattern=".*..*.PDF" />
                <data android:pathPattern=".*..*..*.PDF" />
                <data android:pathPattern=".*..*..*..*.PDF" />
            </intent-filter>
        </activity>

        <activity android:name=".files.FileBrowserActivity" android:exported="true"/>
        
        <activity android:name=".autoclicker.activity.ModeSelectorActivity" android:exported="true"/>
        
        <activity android:name=".autoclicker.activity.ActionSelectorActivity" android:exported="true"/>
        
        <activity android:name=".autoclicker.activity.GuestActivity" android:exported="true" android:noHistory="true"/>
        
        <activity android:name=".autoclicker.activity.HostActivity" android:exported="true" android:noHistory="true"/>
        
        <activity android:name=".autoclicker.activity.ClickerActivity" android:exported="true"/>
        
        <activity android:name=".NumberRangeActivity" />
        
        <service
            android:name=".calculate.CalculatorService"
            android:enabled="true"
            android:exported="true"/>
        <service
            android:name=".PDFReaderService"
            android:enabled="true"
            android:exported="true"/>
        <service
            android:name=".bible.BibleService"
            android:enabled="true"
            android:exported="true"/>
        <service
            android:name=".timer.TimerService"
            android:enabled="true"
            android:exported="true"/>
        <service
            android:name=".autoclicker.service.ClickerAccessibilityService"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <!--android:label="@string/floating_clicker"-->
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/clicker_service"/>
        </service>
        <service android:name=".NumberRangeService" />
            
	</application>

</manifest>
